@import "~bootstrap/scss/bootstrap.scss";
.card{
    width: 35rem;
}

.jumbotron {
    margin-top: 0;
}
.card-img {
    width: 40%;


}
.img-jumbo {
    width: 20%;
    padding: 10px;
}
.card2{
    border: none;
}

.row {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.navbar{
    margin-bottom: 0;
}
.navbar-brand {
    height: 100px;
   
}


ul { 
    list-style-type: none;
}

.event-cards {
    margin: 8px;
}