@import "~bootstrap/scss/bootstrap.scss";
.card{
    width: 35rem;
    margin-top: 20px;
}

.card3{
    width: 25rem !important;
    
}
.jumbotron {
    margin-top: 0;
}
.card-img {
    width: 40%;


}
.img-jumbo {
    width: 20%;
    padding: 10px;
}
.card2{
    border: none;
    display: flex !important; 
    
}

// .row {
//     display: flex; 
//     align-items: center; 
//     justify-content: center; 
// }

.navbar{
    margin-bottom: 0;
}

.nav-logo {
    height: 100px;
    margin-bottom: 12px;
}

.nav-menu { 
    list-style-type: none;
}

.jumbo-G1{
    display: flex;
}

.login-btn {
  position: absolute;
  top: 12px;
  right: 10px;
}

.event-cards{
    margin-top: 8px;
}

.icon{
    font-size: 35px;
    margin: 20px;
}