@import "~bootstrap/scss/bootstrap.scss";
.card{
    width: 35rem;
}


.card-img {
    width: 10%;
}
.card2{
    border: none;
}

.row {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}